<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Веб-інтерфейс пошукової системи</a>
                    </div>
                </nav>
            </div>
        </div>
        <form action="search">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input name="query" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">

                    <input type="submit" class="btn btn-default" value="Пошук"/>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div th:each="event : ${events}">
                    <h2 th:text="${event.title}"></h2>
                    <div th:text="${event.address}"></div>
                    <div th:text="${event.date}"></div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>
